body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 18px;
	margin: 0;
	color: #FFF;
	background: #1A1F22;
}
*{
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: #FFF;
	cursor: pointer;
	transition: all 0.5s ease;
}
a:hover{
	transition: all 0.5s ease;
	opacity: 0.7;
}
p{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6{
	padding: 0;
	margin: 0;
}
ul,li{
	padding: 0;
	margin: 0;
	list-style: none;
}
button{
	padding: 0;
	outline: none;
  border: none;
  font: inherit;
 
  background-color: transparent;
  cursor: pointer;
}


.container{
	position: relative;
	width: 1550px;
	margin: 0 auto;
}
.h1{
	display: block!important;

	text-transform: uppercase;
	font-weight: 700;
font-size: 180px;
line-height: 207px;


display: flex;
align-items: center;
text-align: center;

background: radial-gradient(206.43% 206.43% at 50% -20.36%, #1c2a2a 50%, #00c9f1 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

mix-blend-mode: screen;
}
.h3{
	color: #EBE7E5;
	font-weight: 700;
	font-size: 52px;
	line-height: 63px;
	text-transform: uppercase
}
.btn{
	cursor: pointer;
	background: #4FFFCA;
	border-radius: 10px;
	color: #192227;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	transition: all 0.5s ease;
}
.btn:hover{
	transition: all 0.5s ease;
	opacity: 0.7;
}
.filter{
	position: absolute;
	width: 522px;
	height: 522px;

	background: rgba(79, 192, 255, 0.15);
	transform: rotate(2.53deg);

	filter: blur(150px);
}
.header{
	padding-top: 44px;
	background: #0E1314;
}
.header-menu{
	position: relative;
	z-index: 1000;
	display:flex;
	width: 1142px;
	margin: 0 auto;
	text-transform: uppercase;
}
.mobile-menu{
	position: relative;
	display: none;
}
.log-wrapper_mob{
	width: 273px;
    top: 60px;
    left: -161px;
    position: absolute;
    background: rgb(26, 31, 34);
    padding: 15px;
}
.log-wrapper{
	margin-left: auto;
}
.header-menu__lang-btn{
	color: #FFF;
	margin-right: 4px;
}
.header-menu__arrow-down{
	transition: all 0.25s linear;
}
.header-menu__arrow-down.active{
	transform: rotate(180deg);
        /* All browsers support */
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
}
.other-lang{
	position: absolute;
	display: none;
}
.header-menu__login{
	padding: 0 10px 0 10px;
	border-right: 1px solid #B7B8B9;
}
.header-menu__reg{
	padding: 0 10px 0 10px;
	color: 	#4FFFCA;
	margin-right: 39px;
}
.header-offer__bg-0{
	
	position: absolute;
	z-index: 0;
	margin-left: 20%;
    top: 109px;
	

}
.header-offer{
	position: relative;
    width: 945px;
	padding-top: 200px;
	padding-bottom: 230px;
}
.offer-wrapper{

	display: flex;
	align-items: center;
}
.offer__procent{
	position: relative;
	z-index: 10;
	margin-left: 370px;
	background: linear-gradient(321.21deg, #17E5CE 6.42%, #4FFFCA 67.35%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	font-style: normal;
	font-weight: 700;
	font-size: 255px;
	line-height: 311px;
}
.offer__h3{
	width: 430px;	
	margin-bottom: 40px;
}
.offer__btn{

	padding: 13px 40px 14px 40px;
}
.header-offer__rocket{
	position: absolute;
	z-index: 10;
	left: 713px;
    top: 0px;
	transform: rotate(2.53deg);

	
}
.offer-filter{
	position: absolute;
	left: 891px;
    top: 159px;
	

	
}

/*Second section*/

.regul-info{
	background: #162027;
}
.info-wrapper{
	display: flex;
	align-items: center;
}
.info-wrapper__img{
	margin-left: -170px;
}
.reguliration-wrapper{
	position: relative;
	z-index: 100;
	text-align: center;
}
.reguliration-wrapper__text{
	position: relative;
	z-index: 100;
	width: 864px;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
	margin-bottom: 100px;
}
.reguliration-wrapper__span{
	display: block;
}
.reguliration-wrapper__btn{
	position: relative;
	z-index: 100;
	margin: 0 auto	;
	padding: 15px 60px 15px 60px;
}
.reguliration__filter{
	    width: 389px;
    height: 469.84px;
    left: 242px;
    top: -138px;
}
/*Third section*/

.products{
	padding-top: 128px;
	background: #0E1314;
}
.products-container{
	position: relative;
	width: 1440px;
	margin: 0 auto;
	z-index: 1000;	
}
.products-wrapper{
	display: flex;
	align-items: center;
	flex-wrap: wrap	;
}
.products-title{
	margin-bottom: 100px;
}

.product{
	position: relative;
	z-index: 100000000000;
 width: 350px;
 text-align: center;
 margin-bottom: 100px;
}
.product:nth-child(1){
	margin-left: 100px;
}

.product:not(:last-child){
	margin-right: 125px;
}
.product:nth-child(2){
	margin-top: 10px;
	width: 342px;	
}
.product:nth-child(3){
	margin-right: 0px;
}
.product:nth-child(4){
	margin-left: 330px;
	margin-right: 105px;
}
.product__title{
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 340px;	
	font-weight: 700;
	font-size: 36px;
	line-height: 115%;
}
.product__title_little{
	width: 220px;
}
.product-list__item{
	font-size: 18px;	
	line-height: 21px;
}
  .product-list__item::before {
  content: "\2022";  /* юникод точки */
  color: #fff; /* Менять цвет */
  font-weight: normal	; /* Менять жирность */
  display: inline-block; /* Расстояние между точкой и текстом */
    width: 1em; /* Задать значение расстояния */
}
.product-list__item:not(:last-child){
	margin-bottom: 5px;
}
.product-bg{
	position: absolute;	
	left: -250px;
	top: 710.96px;
	z-index: 0;
	
}
.products-info{
	position: relative;
	z-index: 10000;
	width: 1574px;
	margin: 0 auto;
	margin-top: 75px;
	text-align: center;
	background: rgba(56, 92, 95, 0.3);
	box-shadow: inset 1px 1px 4px #4FFFCA;
	backdrop-filter: blur(20px);
	border-radius: 8px;
	padding-top: 70px;
	padding-bottom: 40px;
	margin-bottom: 70px;
}
.product-info__text{
	width: 743px;
	margin: auto;
	margin-top: 40px;
	font-size: 20px;
	line-height: 23px;
}
.info-list{
    justify-content: space-between;
	width: 1406px;
	margin: 0 auto;
	margin-top: 24px;
	display: flex;
	align-items: center;
}
.info-list__item{
	color: #EBE7E5;
	position: relative;
	padding: 15px;
	text-transform: uppercase;
	align-items: center;
}
.products-cellbuy{
	position: relative;
	z-index: 100000;
	margin: 0 auto;
	width: 1562px;
	padding-top: 45px;
	border-top: 1px solid #4FFFCA;
	padding-bottom: 75px;
}
.products-cellbuy__title{
	font-weight: 700;
	margin: 0 auto;
	width: 708px;
	font-size: 43px;
	line-height: 115%;
	text-align: center;
	color: #FFFFFF;
}
.products-cellbuy__text{
	width: 1243px;
	margin: 0 auto;
	margin-top: 30px;
	font-size: 26px;
	line-height: 31px;
	text-align: center;
}
.bold-span{
	font-weight: 700;
}
.products-cellbuy-partner{
	text-align: center;
	font-weight: 700;
	font-size: 26px;
}
.products-cellbuy__btn{
	display: block;
	margin: 0 auto;
	margin-top: 70px;
	width: 238px;
	text-align: center;
	padding: 13px 19px 14px 19px;
}
.bonusadd{
	background: #1A1F22;
	overflow: hidden;
}
.bonusadd__h3{
	position: relative;
	z-index: 100000;
	width: 275px;
}
.bonusadd-wrapper{
	position: relative;
	align-items: center;
	display: flex;
}
.bonusadd__bg{
	position: relative;
	z-index: 100000000;
	height: 286.48px;
   top: 11px;

}
.bonusadd__procent{
	position: relative;
	z-index: 100000;
	background: linear-gradient(321.21deg, #17E5CE 6.42%, #4FFFCA 67.35%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	font-style: normal;
	font-weight: 700;
	font-size: 255px;
	line-height: 311px;
	margin-right: 25px;
}

.bonusadd__btn{
	position: relative;
	z-index: 100000;
	display: block;
	margin-left: 25px;
	height: fit-content;
	padding: 14px 28px;
}
.bonusadd__dec{
	position: absolute;
	z-index: 0;

}
.bonusadd__dec_1{
	top: 0;
    height: 310px;
        left: -165px;

}
.bonusadd__dec_2{
	top: 0px;
    left: 493px;
}
.partners{
	background: #000;
	padding-top: 105px;
	padding-bottom: 127px;
}
.partners-wrapper{
	width: 1280px;
	margin: 0 auto;
	margin-top: 90px;
	display: flex;
}
.partners-wrapper__item:not(:last-child){
 margin-right: 100px;
}
.marketinfo{
	overflow: hidden;
	padding-left: 130px;
	padding-top: 50px;
	padding-bottom: 50px;
	background: linear-gradient(205.95deg, #192227 7.22%, #192227 69.88%);
}
.marketinfo-title{
	position: relative;
	z-index: 100;
	width: 798px;
	font-weight: 700;
	font-size: 55px;
	line-height: 68px;
	text-transform: uppercase;
	color: #4FFFCA;
	margin-bottom: 20px;
}
.marketinfo-item_thin{
	font-weight: 400;
}
.adv-list{
	position: 	relative;
	z-index: 100;
	width: 571px;
	margin-bottom: 40px;	
}
.adv-list__item{
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;
	text-transform: uppercase;
	color: #EBE7E5;
	list-style-type: disc;
}
.adv-list__item:not(:last-child	){
	margin-bottom: 13px;
}
.marketinfo-btn{
	position: 	relative;
	z-index: 100;
	padding: 15px 60px;
}
.marketinfo-filter{
	top: 80px;
    left: 100px;
    z-index: 0;
}
.marketinfo-bg{
	position: absolute;
	top: -51px;
    left: 651px;
}
.app-install{
	padding-left: 150px;
	padding-top: 140px;
	padding-bottom: 80px;
}
.app-wrapper{
	display: flex;
}
.app-wrapper__img{
	position: relative;
	z-index: 100;
	margin-right: 285px;
}
.app-info{
	width: 617px;
	align-items: center;
	text-align: right;
}
.app-info__title{
	margin-left: auto;
	width: 450px;
	font-weight: 700;
	font-size: 48px;
	line-height: 115%;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.app-info__text{
	font-size: 20px;
	line-height: 115%;
}
.app-info__text:not(:last-child){
	margin-bottom: 20px;
}
.app-info__install{
	display: block;
	margin-top: 50px;
}
.app-filter{
	z-index: 0;
	top: 84px;
	left: -80px;
}
.partnership{
	overflow: hidden;
	padding-top: 137px;
	padding-bottom: 101px;
	background: #000;
}
.partnership-title{
	position: relative;
	z-index: 100;
	font-weight: 700;
	font-size: 43px;
	line-height: 118%;
	margin-bottom: 35px;
}
.partnership-text{
	position: relative;
	z-index: 100;
	font-weight: 400;
	font-size: 26px;
	line-height: 120%;
	width: 860px;
}
.partnership-btn{
	margin-top: 60px;
	position: relative;
	z-index: 100;
	padding: 14px 30px;
}
.partnership-bg{
	height: 585px;
	z-index: 0;
	top: -137px;
    left: 673px;
	position: absolute;
}
.faq{
	background: #0E1314;
	padding-top: 120px;
	padding-bottom: 80px;
}
.faq-title{
	font-weight: 400;
	font-size: 50px;
	line-height: 12px;
	text-align: center;
	text-transform: uppercase;
	color: #EBE7E5;
	margin-bottom: 65px;
}
.questions__item{
	cursor: pointer;
	border-bottom: 1px solid #EBE7E5;
	padding-bottom: 20px;
	padding-top: 25px;
}
.question__title{
	font-weight: 700;
	font-size: 26px;
	line-height: 16px;
	color: #4FFFCA;
}
.questions .ui-accordion-header {
	position: relative;
}
.questions .ui-accordion-header-icon {
	content: '';
	position: absolute;
	right: 10px;    
	display: inline-block;
	width: 27px;
	height: 14px;    
	background: url(../img/btn-check.png) 50% 50% no-repeat;
}
.questions .ui-accordion-header-active .ui-accordion-header-icon {
 	transform: rotate(180deg);
        /* All browsers support */
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
}
.answer-wrap{
	display: none;
	padding-top: 25px;
}
.answer-wrap.active{
	display: block;
}
.answer-wrap__text{
	font-weight: 400;
	font-size: 26px;
	line-height: 26px;
	color: #EBE7E5;
}
.answer-wrap__text:not(:last-child){
	margin-bottom: 20px;
}
.footer{
	background: #0E1314;
	padding-top: 60px;
	padding-bottom: 90px;
}
.footer-logo__img{
	width: 133px;
	height: 28px;
}
.text-wrap{
	margin-top: 30px;
	margin-bottom: 50px;
}
.text-wrap__item{
	width: 320px;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: #FFFFFF;
}
.text-wrap__item:first-child{
	margin-bottom: 20px;
}
.social-wrap{
	display: flex;
	margin-bottom: 20px;
}
.social-wrap__item:not(:last-child){
	margin-right: 7px;
}
.warning__title{
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	opacity: 0.6;
}
.warning__text{
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #FFFFFF;
	opacity: 0.6;
}

/*Adaptive*/
@media (max-width: 1700px) {
	.container{
		width: 1140px;
	}
	.bonusadd__dec_1 {
    	left: -291px;
	}
	.header{
		overflow: hidden;
	}
	.header-menu{
  		width: 100%;
  	}
  	.header-offer__rocket {
	    left: 482px;
    	top: 16px;
	}
  	.offer-filter {
	   left: 541px;
   	 	top: 159px;
	}
  	.reguliration-wrapper {
   	 margin-left: -347px;
	}
	.info-wrapper__img {
   		 margin-left: -278px;
	}
	.products-info{
		width: 100%;
	}
	.info-list{
		width: 100%;
	}
	.products-cellbuy{
		width: 100%;
	}
	.products-cellbuy__title{
		width: 100%;
	}
	.products-cellbuy__text{
		width: 100%;
	}
	.bonusadd-wrapper {
    	justify-content: space-around;
	}
	.bonusadd__bg{
		display: none;
	}
	.partners-wrapper{
		width: 100%;
	}
	.partners-wrapper__item:not(:last-child) {
    	margin-right: 60px;
	}
	.marketinfo-bg {
	    left: 13px;
	}
	.products{
		overflow: hidden;
	}
	.offer-wrapper {
	    position: relative;
	    z-index: 100;
	}
	.product:not(:last-child) {
    	margin-right: 30px;
	}
	.product:nth-child(1) {
		 margin-left: 0px;
   	 margin-right: 30px;
	}
	.product:nth-child(4) {
	    margin-left: 200px;
	}
	.app-install {
     padding-left: 0px;
 	}
}
/* lg-размер (<=1199px) */
@media (max-width: 1199px) {
  /* CSS для ширины от 992px до 1199px */
	.container{
  		width: 960px;
  	}
  	
  	.header-offer{
  		width: 100%;
  	}
  .header-offer__rocket {
	    width: 685px;
	    left: -240px;
	    top: -71px;
	}
	.offer__h3{
		width: 100%;
	}
	.offer-filter {
	    left: 201px;
	}

	.h1{
		font-size: 150px;
	}
	.reguliration-wrapper {
    margin-left: -595px;
	}
	.products{
		padding-right: 15px;
   	 	padding-left: 15px;
	}
	.products-wrapper{
		flex-direction: column;
	}
	.product{
		margin-right: 0!important;
		margin-left: 0!important;

	}
	.info-list{
		flex-direction: column;
	}
	.info-list__line{
		transform: rotate(90deg);
	}
	.bonusadd{
		display: none;
		overflow: hidden;
	}
	
	.partners-wrapper{
		width: 100%;
		flex-wrap: wrap;
		flex-direction: column;
	}
	.partners-wrapper__item{
		text-align: center;
	}
	.partners-wrapper__item:not(:last-child) {
     margin-right: 0;
     margin-bottom: 35px;
	}
	.app-info{
		margin-top: 40px;
		text-align: center;
		width: 100%;
	}
	.app-wrapper {
    	flex-direction: column;
	}
	.app-wrapper__img {
	    width: 350px;
	    margin: 0 auto; 
	}
	.app-info__title{
		width: 100%;
		margin-left: 0;
	}
	.app-filter {
	    left: 130px;
	}
	.marketinfo-bg{
		left: -125px;
	}
	.marketinfo-title{
		width: 100%;
	}
	.partnership-bg{
		left: 257px;
	}

}

/* md-размер (<=991px) */
@media (max-width: 991px) {
  /* CSS для ширины от 768px до 991px */
   .container{
  	width: 720px;
  }
  .header-offer{
  	padding-bottom: 156px;
  }
  .offer-wrapper {
    flex-direction: column;
  }
  .offer-wrap{
  	margin-top: 60px;
  	text-align: center;
  }
  .offer__procent{
  	margin-left: 0;
  }
  .regul-info{
  	overflow: hidden;
    padding-top: 159px;
    padding-bottom: 158px;
  }
  .info-wrapper__img{
  	position: absolute;
  	
  }
  .reguliration-wrapper {
    margin-left: 0px;
	}
	.reguliration-wrapper__text{
		width: 100%;
	}
	.h1{
		font-size: 120px;
	}
	.partnership-text{
		width: 100%;
	}
	.partnership-bg{
		left: 110px;
		top: -75px;
	}
	.question__title{
		width: 85%;
		line-height: 30px;
	}
	.questions .ui-accordion-header-icon {
	    right: -100px;
	}
	.marketinfo {
		padding-left: 0;
	}
	.product-info__text{
		width: 100%;
	}
	.
}

/* sm-размер (<=768px) */
@media (max-width: 767px) {
  /* CSS для ширины от 576px до 767px */
  .container{
  	width: 540px;
  	padding: 0 15px;
  }
  .header-menu{
  	justify-content: space-around;
  }
  .log-wrapper {
     margin-left: 0; 
	}
	.header-menu__reg {
		margin-right: 0;
	}
  .header{
  	overflow: hidden;
  }
  .h1{
  	font-size: 80px;
  }
  .partnership-bg {
	    left: -85px;
	    top: 39px;
	}
  .regul-info{
  	padding-bottom: 130px;
  }
  .app-install{
  	overflow: hidden;
  }
  .app-filter {
    left: 50px;
	}
  .questions .ui-accordion-header-icon {
    	right: -72px;
	}
	.marketinfo-title {
		font-size: 45px;
	}
}

/* xs-размер (<=575px) */
@media (max-width: 575px) {
  /* CSS для ширины до 575px (включительно) */
   .container{
  	width: 100%;
  }
  .mobile-menu{
  	display: block;
  }
  .header-offer {
    padding-top: 302px;
	}
	.log-wrapper{
		display: none;
	}
	.regul-info{
		padding-top: 87px;
		padding-bottom: 52px;
	}
	.h1{
		font-size: 42px;
	}
	.app-wrapper__img {
    	width: 280px;
	}
	.questions .ui-accordion-header-icon {
  	  right: -39px;
	}
	.products-cellbuy__title{
		font-size: 35px;
	}
	.adv-list__item{
		margin-left: 15px;
	}
	.text-wrap__item{
		width: 100%;
	}
	.products-wrapper{
		flex-wrap: unset;
	}
	.product{
		width: 100%;
	}
	.product__title{
		width: 100%;
		font-size: 25px;	
	}
	.marketinfo-title{
		font-size: 27px;
		line-height: 48px;
	}
	.adv-list{
		width: 100%;
	}
	.partnership-bg {
	    left: -399px;
	    top: 262px;
	}
	.partnership-title{
		font-size: 38px;
	}
	.product:nth-child(2) {
		width: 100%;
	}
	.logo__img{
		width: 150px;
	}
}
@media (max-width: 480px) {
  /* CSS для ширины до 575px (включительно) */
	.header-offer__bg-0 {
		    width: 300px;
		    top: 238px;
		    margin-left: 0;
		}
	   .header-offer__rocket {
		    left: -348px;
		    top: -5px;
		}
}
@media (max-width: 400px){
	.header-offer__rocket {
    left: -294px;
    top: -5px;
}
.header-offer__rocket {
    left: -356px;
    top: -12px;
}
}