/* Шрифты */
@font-face {
  font-family: 'SF NS Mono';
  src: url('../fonts/SFMono-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'SF NS Mono';
  src: url('../fonts/SFMono-Heavy.woff') format('woff');
  font-weight: 900;
}

@font-face {
  font-family: 'SF NS Mono';
  src: url('../fonts/SFMono-Semibold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('../fonts/NeueMachina-Ultrabold.woff') format('woff');
  font-weight: 800;
}

@font-face {
  font-family: 'SF NS Mono';
  src: url('../fonts/SFMono-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Neue Machina';
  src: url('../fonts/NeueMachina-Regular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'SF NS Mono';
  src: url('../fonts/SFMono-Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'SF NS Mono';
  src: url('../fonts/SFMono-Medium.woff') format('woff');
  font-weight: 500;
}

/* Спецификация */
*{
  box-sizing: border-box;
}
a,li,ul{
  display: block;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
a:focus-visible{
  all: unset;
  cursor: pointer;
}
img {
  all: unset;
}
button {
  display: block;
  all: unset;
  cursor: pointer;
}
body{
  font-size: 30px;
  font-family: 'SF NS Mono';
  font-style: normal;
  font-weight: 300;
}
.container{
 width: 1240px;
 margin: 0 auto;
}
.count-change{
  max-width: 121px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.count-change__btn{
  font-size: 33px;
  font-weight: 300;
  text-align: center;
  width: 38px;
  height: 38px;
  background: #C9C9C9;
}
.count-change__btn_minus{
  color: #FFF;
}
.count-change__btn_plus{
  color: #444;
}

/* Хедер */
.header{
  padding-top: 35px;
}
.header-wrap{
  position: relative;
  display: flex;
  align-items: center;
}
.header-logo>img{
  width: 140px;
  height: 160.714px;
  flex-shrink: 0;
}
.header-menu{
  position: relative;
  display: flex;
  margin-left: 120px;
}
.header-menu__item>a{
  color: #FFF;
  font-size: 30px;
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
}
.header-menu__item:not(:last-child){
  margin-right: 110px;
}
.burger-menu{
  display: none;
}
.burger-menu>img{
  width: 80px;
  height: 80px;
}
.header-menu__cart{
  position: absolute;
  padding: 22px 24px 25px 23px;
  right: 0px;
  bottom: -90px;
}
.header-menu__cart>img{
  position: relative;
  z-index: 3;
}
.header-menu__cart::after{
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background: #FFFAF2;
  box-shadow: 4px 4px 25px 0px rgba(255, 166, 32, 0.31);
}
.cart-count{
  position: absolute;
  width: 32px;
  height: 32px;
  font-size: 20px;
  font-weight: 300;
  right: 0px;
  bottom: 0px;
  border-radius: 35px;
  color: #FFF;
  background: #FF8B20;
  padding: 4px 10px;
  z-index: 2;
}
/* Модальное окно */
.modal {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.58);
  z-index: 1000; 
}
.modal.active{
  display: block;
}
.modal-content{
  font-family: SF NS Mono;
  font-size: 22px;
  font-weight: 400;
  width: 650px;
  margin: 0 auto;
  margin-top: 135px;
  padding: 40px 40px 55px 40px;
  background: #FFF;
}
.modal-content__title{
  color: #000;
  font-family: "SF NS Mono";
  font-size: 35px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 40px;
}
.modal-product{
  display: flex;
  align-items: center;
}
.modal__close{
  display: block;
  margin-left: auto;
  margin-right: 60px;
  margin-top: 60px;
}
.modal-product__photo{
  background: url(../img/product/product2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 240px;
  width: 170px;
  height: 170px;
}
.modal-details{
  max-width: 130px;
  margin-left: 20px;
  margin-right: 98px;
}
.modal-details__title{
  font-size: 24px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 20px;
}
.modal-details__size{
  display: block;
  margin-bottom: 29px;
}
.modal-product__delete{
  margin-left: auto;
}


/* Футер */
.footer{
  border-top: 3px solid #FF83E4;
  padding-top: 75px;
  padding-bottom: 80px;
}
.contacts{
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.contacts__item{
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  color: #000;
  font-family: SF NS Mono;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.contacts__item_email::before{
  content: "";
  width: 43px;
  height: 43px;
  margin-right: 13px;
  display: inline-block;
  background-image: url(../img/header&footer/mail.png);
  background-size: contain;
}
.contacts__item_tel::before{
  content: "";
  width: 53px;
  height: 53px;
  margin-right: 13px;
  display: inline-block;
  background-image: url(../img/header&footer/tel.png);
  background-size: contain;
}
.socials{
  display: flex;
  margin: 0 auto;
  margin-top: 16px;
}
.socials__item:not(:last-child){
  margin-right: 40px;
}

/* Адаптив */
@media (max-width: 1240px){
  .container{
      width: 960px;
  }
  .header-menu{
    margin-left: 47px;
  }
  .header-menu__item:not(:last-child) {
    margin-right: 57px;
  }
  .footer{
    padding-bottom: 59px;
  }
}
@media (max-width: 991px){
  .container{
      width: 720px;
  }
  .header-wrap{
    position: relative;
    justify-content: space-between;
  }
  .header-menu{
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 111px;
    right: 67px;
    transition: all 0.5s ease-out;
  }
  .header-menu.active{
    visibility:visible;
    opacity: 1;
  }
  .burger-menu{
    display: block;
  }
}
@media (max-width: 767px){ 
  .container{
  width: 540px;
  padding: 0 15px;
  }
}
@media (max-width: 575px){ 
  .container{
  width: 100%;
  }
  .header-menu__item:not(:last-child){
    margin-right: unset;
  }
  .header-menu__cart>img {
    width: 43px;
    height: 43px;
  }
  .header-menu__cart::after {
    width: 90px;
    height: 90px;
  }
  .header-menu{
    right: 0px;
  }
  .contacts__item_email::before{
    width: 30px;
    height: 30px;
  }
  .contacts__item_tel::before{
    width: 40px;
    height: 40px;
  }
}