/* Спецификация */
body{
    background: #FFFAF2;
}
.section-title{
    font-size: 50px;
    font-family: 'Neue Machina';
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.btn-1{
    display: block;
    cursor: pointer;
    padding: 21px 37px;
    border-radius: 50px;
    background: linear-gradient(90deg, #F140D5 1.99%, #5451F9 47.05%, #8F21B6 100%);
    box-shadow: 8px 8px 55px 0px rgba(255, 255, 255, 0.35);
}
video{
    object-fit: cover;
    cursor: pointer;
}
video::-webkit-media-controls,
video::-webkit-media-controls-enclosure,
video::-webkit-media-controls-panel,
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display,
video::-webkit-media-controls-mute-button,
video::-webkit-media-controls-volume-slider {
  display: none !important;
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
}
/* Секция История бренда */
.header-wrap{
    margin-bottom: -207px;
}
.brand-story{
    color: #F6F5F5;
    padding-top: 330px;
    padding-bottom: 47px;
    background: url(../img/main-page/story-brand-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.story-title{
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    letter-spacing: 2px;
    margin-bottom: 46px;
}
.story-text{
    opacity: 0.8;
    margin: 0 auto;
    width: 1145px;
    text-align: center;
    font-size: 30px;
    font-family: SF NS Mono;
    font-weight: 300;
    line-height: 120%;
    margin-bottom: 60px;
}
.antarika-wrap{
    display: flex;
    justify-content: space-between;
}
.antarika-card__img{
    width: 360px;
    height: 450px;
    margin: 0 auto;
}
.antarika-card{
    display: flex;
    flex-direction: column;
    width: 550px;
}
.antarika-card__text{
    display: flex;
    align-items: center;
    min-height: 265px;
    opacity: 0.8;
    text-align: center;
    color: #F6F5F5;
    font-weight: 300;
    font-size: 30px;
    line-height: 110%;
}
.antarika-card:first-child()>p{
    margin-top: 86px;
}
.brand-follow{
    margin: 105px 0px;
    color: #BAF3FF;
    text-align: center;
    font-size: 33px;
    font-family: SF NS Mono;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}
.btns-wrap{
    display: flex;
    flex-direction: column;
}
.brand-discover{
    display: inline-block;
    color: #FFF;
    margin: 0 auto;
    margin-bottom: 15px;
}
.arrow-down{
    display: inline-block;
    margin: 0 auto;
}

/* Секция Позиционирование бренда */
.positioning{
    padding-top: 80px;
    padding-bottom: 135px;
}
.position-title{
    color: #A81EFF;
    text-align: center;
}
.pos-wrap__text{
    width: 700px;
    position: relative;
    color: #9E9E9E;
    font-size: 30px;
    font-family: 'SF NS Mono';
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.pos-wrap::after {
    content: "";
    display: block;
    clear: both;
  }
.pos-wrap__text:not(:last-child){
    margin-bottom: 80px;
}
.pos-wrap__text:nth-child(odd) {
    float: left;
    margin-left: 110px;
    clear: left;
}
  
.pos-wrap__text:nth-child(even) {
    float: right;
    margin-right: -20px;
    clear: right;
}
.pos-wrap__text:first-child{
    width: 1280px;
    margin-left: -390px;
    color: rgba(0, 0, 0, 0.97);
    padding: 35px 75px 35px 505px;
}
.pos-wrap__text::before{
    content: "";
    position: absolute;
    width: 132px;
    height: 131px;
    top: -12px;
    left: -146px;
    right: 0;
    bottom: 0;
    background-image: url(../img/main-page/starmark2.svg);
    background-size: cover;
}
.pos-wrap__text:first-child::before{
    top: 52px;
    left: 364px;
    background-image: url(../img/main-page/starmark1.png);

}
.pos-wrap__text:first-child::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100px;
    border: 4px solid transparent;
    background: linear-gradient(114deg,#835CF4,30%, #CB6B25,50%, #5498B6) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    box-shadow: 0px 20px 20px 0px rgba(255, 255, 255, 0.25);
  
}

/* Секция Коллаборация */
.collaboration{
    padding-top: 135px;
    padding-bottom: 105px;
}
.collab-title{
    position: relative;
    color: #E22998;
    text-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.46);
}
.collab-title::before{
    content: "";
    position: absolute;
    width: 272px;
    height: 269px;
    top: -70px;
    left: -153px;
    border-radius: 272px;
    background: rgba(152, 224, 255, 0.90);
    filter: blur(45px);
    z-index: -1;
}
.collab-title::after{
    content:"";
    position: absolute;
    width: 210px;
    height: 191px;
    right: -40px;
    background-image: url(../img/main-page/star-collab.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.collab-wrap{
    position: relative;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.collab-wrap::before{
    content: "";
    position: absolute;
    width: 110px;
    height: 108.535px;
    left: -54px;
    bottom: 21px;
    background-image: url(../img/main-page/star-collab-img.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}
.collab-img{
    position: relative;
    height: 600px;
}

.collab-info__text{
    position: relative;
    margin-top:50px;
    margin-bottom: 0px;
    max-width: 760px;
    font-weight: 500;
    line-height: 35px;
}
.collab-info__text:first-child::before{
    content: "";
    position: absolute;
    width: 330px;
    height: 320px;
    right: 89px;
    border-radius: 330px;
    background: rgba(237, 255, 128, 0.90);
    filter: blur(45px);
    z-index: -1;
}
.collab-info__text:last-child::before{
    content: "";
    position: absolute;
    width: 212px;
    height: 198px;
    left: 24px;
    border-radius: 212px;
    background: rgba(147, 216, 255, 0.51);
    filter: blur(45px);
    z-index: -1;
}
.collab-info__text:last-child::after{
    content: "";
    position: absolute;
    width: 680.137px;
    height: 166.7px;
    top: -21px;
    left: -71px;
    transform: rotate(-6.432deg);
    border-radius: 50%;
    border: 2px solid rgba(132, 231, 223, 0.97);
    z-index: -2;
}
.collab-info__text:last-child{
    margin-top:100px;
    max-width: 672px;
}
.comics-wrap{
    display: flex;
    margin-top: 120px;
}
.comics-wrap__video{
    margin-left:25px;
    width: 502px;
    height: 880px;
}

/* Секция Видеоконтент */

.videocontent{
    padding-top: 105px;
    padding-bottom: 175px;
}
.video-title{
    position: relative;
    color: #2C9FAE;
    text-shadow: 0px 4px 10px 0px rgba(0, 112, 136, 0.30);
}
.video-title::after{
    content: "";
    position: absolute;
    width: 146px;
    height: 191px;
    top: -113px;
    right: 0px;
    background-image: url(../img/main-page/star-videocontent.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.video-cont-wrap{
    display: flex;
    justify-content: space-between;
}
.slide{
    display: none;
    width: 410px;
    height: 670px;
}
.slide.active{
    display: block;
}
.progress-wrap{
    margin-top: 25px;
    display: flex;
    align-items: center;
}
.slider-progress{
    display: flex;
    margin-right: 25px;
}
.slider-progress__item{
    display: block;
    width: 35px;
    height: 1px;
    border-top: 4px solid #C5C5C5;
}
.slider-progress__item.active{
    border-top: 4px solid #00ABC2;
}
.video-info__text{
    position: relative;
    width: 728px;
    font-weight: 500;
    line-height: 35px;
}
.video-info__text:not(:last-child){
    margin-bottom: 90px;
}
.video-info__text:last-child::before{
    content: "";
    position: absolute;
    width: 212px;
    height: 198px;
    top: -156px;
    right: -70px;
    border-radius: 212px;
    background: rgba(255, 154, 215, 0.53);
    filter: blur(45px);
    z-index: -1;
}
.slider-btns{
    margin-bottom: 50px;
}
.slider-btns__prev{
    margin-right: 20px;
}
.slider-btns__next>img{
    transform: rotate(180deg);
}
.info-text__link{
    color: #000;
    display: inline;
}
.info-text__link_inst{
    color:#B72EBA;
}
.info-text__link_vk{
    color:#0073DD;
}
.info-text__link_tg{
    color:#62CFD6;
}

/* Секция Продажа */
.selling{
    overflow: hidden;
    padding-top: 175px;
    padding-bottom: 100px;
}
.sell-wrap{
    position: relative;
    padding-left: 120px;
}
.sell-wrap::before{
    content: "";
    position: absolute;
    width: 130px;
    height: 128px;
    top: -13px;
    right: 31px;
    background-image: url(../img/main-page/selling-sun.png);
    background-repeat: no-repeat;
    background-size: contain;

}
.sell-wrap::after{
    content: "";
    position: absolute;
    width: 1922.947px;
    height: 707.893px;
    top: -69px;
    left: -540px;
    transform: rotate(-0.036deg);
    border-radius: 50%;
    border: 1.5px solid #C200C6;
    z-index: -2;
}
.sell-wrap__title{
    max-width: 790px;
    text-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.46);
    line-height: 60px;
    margin-bottom: 23px;
}
.sell-wrap__info{
    max-width: 1064px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 55px;
}
.text-linebreak{
    display: inline-block;
}
.sell-wrap__btn{
    display: inline-block;
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-family: "Neue Machina";
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0.96px;
}
.mockups{
    margin-top: 145px;
    display: flex;
    justify-content: space-between;
}